POSTGRES_USER=keeper
POSTGRES_PASSWORD=keeper
POSTGRES_DB=keeper
DB_DSN=postgres://keeper:keeper@postgres:5432/keeper?sslmode=disable
HTTP_ADDR=0.0.0.0
HTTP_PORT=8080
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
